<nav class="h-14 min-w-full bg-indigo-300 flex justify-between items-center">
    <div class="w-[50%] px-16">
        <div class="font-bold text-xl">
            Logo
        </div>
    </div>
    <div class="w-[50%] px-10 flex flex-row-reverse">
        <div class="font-bold text-xl">
            Profile
        </div>
    </div>
</nav>